body {
  background: #F7FAFC;
}

ul {
  list-style-type: none;
}

.nav-bar {
  float: left;
  background-color: #480000;
  background-color: #303030;
  font-family: 'Inika', serif;  color: white;
  width: 100%;  
}

.container {
  font-family: 'Inika', serif;  color: black;
}

.nav-bar h1 {
  font-size: 32px;
  width: 200px;
  display: inline;
  margin-left: 20px;
  margin-top: 6px;
  float: left;  
}

.test {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}

.your {
  float: left;
  margin-right: 10px;
}

.knowledge{
  float: left;
}

.nav-bar .nav {
  width: 600px;
  float: left; 
}

.welcome {
  float: left;
  width: 2000px;
  margin-left: 50px;
  margin-bottom: 10px;
}
    
.nav-bar .nav li {
  float: left;
  display: inline;
  margin-top: 2px;
  margin-right: 10px;
}

.nav-bar .nav li a {
  color: white;
  text-decoration: none;
}

h1 {
  margin: 0px;
  padding: 5px 0 0 0;
}

h2 {
  color: #838383;
  font-size: 28px;
  padding: 10px;
  margin: 0px 0px;
}

h3 {
  color: #838383;
}

#content_container {
  padding:10px;
}

.sign {
  float: left;
  margin-top: 40px;
  margin-left: 125px;
}

.sign form {
  margin-top: 10px;
  width:210px;
  font-family: Georgia;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 8px #ccc;
}

#login_area {
  clear:both;
}

.flashcards {
  border-bottom: 2px #eeeeee dotted;
  padding-bottom: 40px;

}

/*User page*/
.game {
  clear:both;
  padding: 2px 0 0 0;
}

.game_column {
  width: 200px;
  float:left;
  background-color: #dddddd;
  padding: 8px;
  font-size: 14px;
}

#decks {
  clear:both;
  padding: 30px 0 0 0;
}

.deck {
  float: left;
  width: 300px;
  padding: 10px;
  margin: 0 20px 0 0;
  border: 2px #ddd solid;
}

.submit {
  padding:5px;
  background: #4D8BAF;
  border-radius: 5px;
  color: white;
  border: 1px #fff solid;
}

#user_info{
  padding-top: 50px;
}

.input-field {
  margin: 2px 0px;
  width: 200px;
}

/*Game show*/
#question {
  font-size: 48px;
  background-color: white;
  padding: 50px 25px;
  margin: 80px 0px 40px 0;
}

#card_content {
  width: 800px;
  margin: 0 auto;
  padding: 5px;
}

#card_content #response {
  margin: 0 auto;
  padding: 30px 0 0 0;
  font-size: 24px;
  width: 350px;
}

#card {
  clear: both;
}

.stat_column {
  width: 250px;
  float:left;
  padding: 8px;
}

.content_container {
  margin-top: 10px;
  width: 400px;
  margin: 0 auto;
  padding: 0px 10px;
  border-left: 2px #eeeeee dotted;
  border-right: 2px #eeeeee dotted;
  border-bottom: 2px #eeeeee dotted;
}

.message {
  font-size: 30px;
  float: left;
  padding: 20px 0px;
}

.results_information {
  clear:both;
  margin-bottom: 12px;
}


.result_element {
  padding: 5px 0px;
}

.likeabutton {
  font: menu;
  display: inline-block; padding: 2px 8px;
  background: ButtonFace; color: ButtonText;
  border-style: solid; border-width: 2px;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.likeabutton a {
  text-decoration: none; 
}
