<br>
<br>

<h1>Cards</h1>
<ul>
<% @cards.each do |card| %>
  <li>Question: <%= card.question %></li>
  <li>Answer: <%= card.answer %></li>
  <br>
<% end %>
</ul>

<form action="/decks/<%=@deck.id%>/cards" method='post'>

  <textarea name='question' placeholder='Question'></textarea>

  <textarea name='answer' placeholder='Answer'></textarea>

  <input type='submit' value='Create Card'>

</form>

<%# This is the perfect place for AJAX!! %>

