<h1>Sign Up</h1>
<% if @new_user && @new_user.errors %>
  <%= @new_user.errors.full_messages.join('<br>') %>
<% end %>

<form name='sign-up' action='/users/new' method='post'>
  <label for='name'>Name:</label>
  <input type='text' name='name'><br>

  <label for='email'>Email:</label>
  <input type='text' name='email'><br>

  <label for='password'>Password:</label>
  <input type='password' name='password'><br>
  <input type="submit" value = "sign up">
</form>

<h1>Sign In</h1>
<form name='sign-in' action='/users/login' method='post'>

  <label for='email'>Email:</label>
  <input type='text' name='email'><br>

  <label for='password'>Password:</label>
  <input type='password' name='password'><br>
  <input type="submit" value = "sign up">
</form>


