<h1>Sign Up</h1>
<form action='/users/new' method='post'>
  
  <label for='name'>Name:<label>
  <input type='text' name='name'><br>

  <label for='name'>Email:<label>
  <input type='text' name='email'><br>

  <label for='name'>Password:<label>
  <input type='password' name='password'><br>
  <input type="submit" value = "sign up">
</form>

<h1>Sign In</h1>
<form action='/users/login' method='post'>

  <label for='name'>Email:<label>
  <input type='text' name='email'><br>

  <label for='name'>Password:<label>
  <input type='password' name='password'><br>
  <input type="submit" value = "sign up">
</form>


