<div class='welcome'>
  <h2>So many flashcards.</h2>
</div>

<img class='test' src="/images/test.png" alt="Smiley face" height="150" width="300">

<img class='your' src="/images/your.png" alt="Smiley face" height="150" width="300">

<img class'knowledge' src="/images/knowledge.png" alt="Smiley face" height="150" width="300">

<div class='sign_in'>
  <h1>Sign In</h1>
  <form action='/users/login' method='post'>

    <label class='input-label' for='name'>Email:</label>
    <input class='input-field' type='text' name='email'><br>

    <label class='input-label' for='name'>Password:</label>
    <input class='input-field' type='password' name='password'><br>

    <input class='input-button' type="submit" value = "Sign In">
  </form>
</div>

<div class='sign_up'>
  <h1>Sign Up</h1>
  <% if @new_user && @new_user.errors %>
  <%= @new_user.errors.full_messages.join('<br>') %>
  <% end %>

  <form action='/users/new' method='post'>
    <label class='input-label' for='name'>Name:</label>
    <input class='input-field' type='text' name='name'><br>

    <label class='input-label' for='name'>Email:</label>
    <input class='input-field' type='text' name='email'><br>

    <label class='input-label' for='name'>Password:</label>
    <input class='input-field' type='password' name='password'><br>
    
    <input class='input-button'type="submit" value = "Sign up">
  </form>
</div>



